.container {
  height: 54px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 5px rgb(197, 195, 195);
  display: flex;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
    opacity: 30%;
    margin-left: 15px;
  }
}

.content {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: flex-end;
  width: 90%;

  p {
    margin-left: 15px;
  }
}
