.container {
  margin: 0 auto;
  background: rgb(100, 108, 255);
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  p {margin: 0;}

  h1 {
    text-align: center;
    font-family: Quicksand-400;
    font-family: "Segoe UI";
    -webkit-font-smoothing: antialiased;
    margin: 0 0 15px 0;
  }
}

.formItem {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0;
}

.itemName {
  padding-right: 20px;
  width: 20%;
}

.itemContent {
  .itemMessage {
    color: red;
    font-size: 12px;
  }

  width: 90%;
}

.itemInput {
  width: 100%;
}

.btnSubmit {
  margin: 26px 26px 0 0;
}

.navigateBtn {
  background-color: rgb(100, 108, 255);
  border: none;
  color: aliceblue;
}

.navigateBtn:focus,
.navigateBtn:focus-visible {
  outline: none;
}
